extends ./layout

block content
     
    .row
        input#movieID(type="hidden" value=id)
        div#tabDetail
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
                a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Đã up
            li(role='presentation')
                a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Up mới        
        // Tab panes
        .tab-content
            #home.tab-pane.active(role='tabpanel') 
                form.form-horizontal(method="post", action="/admin/save_episodes")
                    input(type="hidden", name="episodes[movieID]", value=id)
                    .form-group
                        label.col-sm-2.control-label(for="inputTitle") Tên tập
                        .col-sm-10
                            if _episodes !== undefined
                                input#inputTitle.form-control(type="text", name="episodes[name]", value=_episodes.name)
                            else  
                                input#inputTitle.form-control(type="text", name="episodes[name]", value="")
                                        
                    .form-group
                        label.col-sm-2.control-label(for="inputSummary") Url
                        .col-sm-10
                            if _episodes !== undefined
                                input#inputSummary.form-control(type="text", name="episodes[url]", value=_episodes.url)
                            else  
                                input#inputSummary.form-control(type="text", name="episodes[url]", value="")
                    .form-group
                        label.col-sm-2.control-label(for="inputSummary") Url Google Drive
                        .col-sm-10
                            if _episodes !== undefined
                                input#inputSummary.form-control(type="text", name="episodes[urlGGDrive]", value=_episodes.urlGGDrive)
                            else  
                                input#inputSummary.form-control(type="text", name="episodes[urlGGDrive]", value="")
                    .form-group
                        label.col-sm-2.control-label(for="inputSummary") Url Other
                        .col-sm-10
                            if _episodes !== undefined
                                input#inputSummary.form-control(type="text", name="episodes[urlOthers]", value=_episodes.urlOthers)
                            else  
                                input#inputSummary.form-control(type="text", name="episodes[urlOthers]", value="")           
                    if _episodes !== undefined
                        .form-group
                            label.col-sm-2.control-label(for="inputCapcha") Capcha
                            .col-sm-10
                                img#imgCapcha(src=_episodes.capcha)
                                input#inputCapcha.form-control(type="text", name="episodes[capcha]", value="") 
                    .form-group
                        .col-sm-offset-6.col-sm-9
                            if _episodes !== undefined
                                button.btn.btn-success(type="submit" name="btnSuccess") Cập Nhật
                            else  
                                button.btn.btn-success(type="submit" name="btnSuccess") Lưu               
            #profile.tab-pane(role='tabpanel') 
                    form#fileinfo(method="post" action="/admin/upload_episodes" enctype="multipart/form-data")
                        input(type="hidden", name="movieid", value=id)
                        input(type='file' name="upload")
                        button#btnUploadAnime(type='submit' value="Upload")
                            | Upload anime                        
    //-script(src='http://malsup.github.com/jquery.form.js')
    script(src='/javascripts/add_episodes.js')
        //- form.form-horizontal(method="post", action="/admin/save_episodes")
        //-     input(type="hidden", name="episodes[movieID]", value=id)
        //-     .form-group
        //-         label.col-sm-2.control-label(for="inputTitle") Tên tập
        //-         .col-sm-10
        //-             if _episodes !== undefined
        //-                 input#inputTitle.form-control(type="text", name="episodes[name]", value=_episodes.name)
        //-             else  
        //-                 input#inputTitle.form-control(type="text", name="episodes[name]", value="")
                                
        //-     .form-group
        //-         label.col-sm-2.control-label(for="inputSummary") Url
        //-         .col-sm-10
        //-             if _episodes !== undefined
        //-                 input#inputSummary.form-control(type="text", name="episodes[url]", value=_episodes.url)
        //-             else  
        //-                 input#inputSummary.form-control(type="text", name="episodes[url]", value="")
                    
        //-     if _episodes !== undefined
        //-         .form-group
        //-             label.col-sm-2.control-label(for="inputCapcha") Capcha
        //-             .col-sm-10
        //-                 img#imgCapcha(src=_episodes.capcha)
        //-                 input#inputCapcha.form-control(type="text", name="episodes[capcha]", value="") 
        //-     .form-group
        //-         .col-sm-offset-6.col-sm-9
        //-             if _episodes !== undefined
        //-                 button.btn.btn-success(type="submit") Cập Nhật
        //-             else  
        //-                 button.btn.btn-success(type="submit") Lưu
    
